/* =========================
   SDM PAGE
========================= */


.summary-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin-top:35px;

}



.summary-card{

background:white;

border-radius:22px;

padding:28px 35px;

height:120px;

display:flex;

flex-direction:column;

justify-content:center;

box-shadow:0 8px 25px rgba(0,0,0,.05);

border:1px solid #eee2d8;

}



.summary-card span{

font-size:15px;

color:#8b766b;

margin-bottom:15px;

}



.summary-card strong{

font-size:36px;

font-family:Georgia,serif;

color:#991b1e;

}





.table-wrapper{

background:white;

border-radius:25px;

padding:30px;

margin-top:35px;

box-shadow:0 8px 25px rgba(0,0,0,.05);

}




.table-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}



.table-header h2{

margin:0;

font-size:25px;

}





.sdm-table{

width:100%;

border-collapse:collapse;

}



.sdm-table thead{

background:#991b1e;

color:white;

}



.sdm-table th{

padding:18px;

text-align:left;

}



.sdm-table td{

padding:18px;

border-bottom:1px solid #eee;

}



.sdm-table tbody tr:hover{

background:#faf6f1;

}





.status-aktif{

background:#dff5e8;

color:#16834d;

padding:8px 18px;

border-radius:20px;

font-weight:600;

}




.status-nonaktif{

background:#ffe0e0;

color:#b00000;

padding:8px 18px;

border-radius:20px;

font-weight:600;

}




.btn-edit{

background:#f4ddb0;

color:#7a4b00;

padding:8px 18px;

border-radius:10px;

text-decoration:none;

font-weight:600;

}



.btn-hapus{

background:#ffdada;

color:#a00000;

padding:8px 18px;

border-radius:10px;

text-decoration:none;

font-weight:600;

margin-left:8px;

}

.btn-tambah{

background:#991b1e;

color:white;

padding:14px 28px;

border-radius:12px;

text-decoration:none;

font-weight:600;

}



.btn-tambah:hover{

background:#7f1518;

}